<!doctype html>
<html>
  <head>
      <title>Home Page</title>
    </head>
    <body>
      <h1>Home page</h1>
      <h3>Nav bar</h3>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>

      <form method="post" action="/square">
        <input type="text" name="x" value="<%= square %>"/>
        <button>Square</button>
      </form>
    </body>
    </html>
